@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    background-color: rgb(29, 29, 29);
}

.top {
    display: flex;
    margin-top: 20px;
}

.hambarger {
    margin-left: 5px;
}

.logo {
margin-left: 20px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    margin-left: 500px;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.search-bar img {
    color: black;
    cursor: pointer;
    justify-content: center;
}
.mic {
    margin-left: 600px;
}

.create {
    margin-left: 30px;
}

.more {
    margin-left: 30px;
}

.bellicon {
    margin-left: 30px;
}

.user {
    margin-left: 30px;
}

.thumbnail {
    margin: 0 auto;    
    width: 80%;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
}

@media (max-width:400px) {
    .thumbnail{
        grid-template-columns: 1fr;
    }
    .logo {
        display: flex;
    }
}